@font-face {
    font-family: 'Nunito', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Nunito:wght@400;800;900&display=swap);
}

html {
    display: table;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Nunito', sans-serif !important;
    font-size: medium !important;
    display: flex; 
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    min-height: 75vh;
    background-image: url("bg.png");
    overflow-x: hidden;
}

div {
    word-wrap: break-word;
    box-shadow: 0 3px 15px rgb(27, 12, 9);
}
.no-shadow{
    box-shadow: none !important;
}
ul {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(243, 168, 194);
    border-bottom: 1.4rem solid #231816;
    margin: 0px;
    height: 7.5rem;
    padding:0px;    
    z-index:3;
}
#showSidebar:hover{
    cursor:pointer;
    background-color:pink;
    transition: 0.3s;
}
/*
li {
    display: inline;
}
*/
br {
    display: block; 
    content: ""; 
    margin-top: 1.5%;
}

h1 {
    font-size: 30px !important;
    font-weight: bolder;
}

h2 {
    font-weight: bold !important;
    color: white !important;
}

h3 {
    font-weight: bold !important;
    color:rgb(35, 24, 22) !important;
    line-height: 80% !important;
}

h4 {
    font-weight: bold !important;
    color:rgb(35, 24, 22) !important;
    margin-bottom: 0 !important;
}

p {
    color:rgb(255, 255, 255);
    font-size:medium;
}

i {
    padding-left: 3%;
}

small {
    color: rgb(89, 86, 86) !important;
    line-height: 80% !important;
}

.row p {
    margin: 1% 1% 0 1%!important;
}

.writeComment textarea {
    font-size: medium !important;
    margin-bottom: 0 !important;
    margin-top: 3% !important;
}
.writeComment button {
    width: 25% !important;
    margin-top: 0 !important;
    font-size: small !important;
    float: right !important;
}

.writeComment {
    padding-top: 0px;
    padding-bottom: 7%;
}

textarea {
    resize: none !important;
    font-size: 24px !important;
    margin: 5% 5% 3% 5% !important;
    width: 90% !important;
    /* border: 3px solid rgb(35, 24, 22) !important; */
}

input {
    margin-top: 1% !important;
}

button {
    font-size: 18px !important;
    font-weight: bold !important;
    color:rgb(35, 24, 22)!important;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

.postButton {
    float: right;
    margin-right: 5% !important;
    margin-bottom: 4% !important;
    background-color: white;
    color:rgb(35, 24, 22);
    padding: 5px;
    width: 20%; 
    /* display: inline-block; */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: 3px solid rgb(35, 24, 22);
    border-radius: 15px;
    box-shadow: 0 8px rgb(35, 24, 22);
}

.postButton:active {
    box-shadow: 0 4px rgb(35, 24, 22);
    transform: translateY(4px);
}

.pageButton {
    font-size: small !important;
    width: 35%;
    background-color: white;
    border: 3px solid rgb(35, 24, 22);
    border-radius: 15px;
    box-shadow: 0 4px rgb(35, 24, 22);
}

.pageButton:active {
    box-shadow: 0 2px rgb(35, 24, 22);
    transform: translateY(2px);
}

#page {
    font-size: small !important;
    width: 15% !important;
    margin:0 0 1% 0;
    text-align: center;
    border: 3px solid rgb(35, 24, 22);
    box-shadow: 0 4px rgb(35, 24, 22);
}

.loginbox {
    /* padding: 2%; */
    width: 30%;
    display: hidden;
    position: absolute !important;
    right: -40%;
    top: 3.7rem !important;
    height: fit-content;
    border: solid 1.4rem rgb(35, 24, 22);
    border-radius: 10px;
    background: rgb(243, 168, 194);
    margin-top: 4%;
    transition: 0.5s;
}

.makepost {
    /* padding: 3%; */
    margin: auto;
    top: 25%;
    position: fixed;
    width: 65%;
    height: fit-content;
    border: solid 15px rgb(35, 24, 22);
    border-radius: 10px;
    background: rgb(243, 168, 194, 1.0);
}

.postcol {
    width: 60%;
    margin-top: 2%;
    padding-bottom: 3%;
    border: solid 15px #231816;
    border-radius: 10px;
    background: rgb(255, 255, 255, 0.6);
    align-content: center;
}

.postContainer {
    height: fit-content;
    border: solid 10px rgb(35, 24, 22);
    border-radius: 10px;
    background: rgb(243, 168, 194, 1.0);
    margin: 5% 5% 2% 5%;
    width: 90%;
}

.replyContainer, .writeComment {
    height: fit-content;
    border: solid 10px rgb(35, 24, 22);
    border-radius: 10px;
    background: rgb(243, 168, 194, 1.0);
    margin: 1% 5% 0% 20%;
    width: 75%;
}
/* Clear floats after the columns */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*wtf how does this work ^^^^ */ 
/*wala nay pulos ang row kay centered naman ang stuff*/   
.card-header {
    background-color: rgb(89, 86, 86)!important;
    margin: none !important;
    border-bottom: solid 10px rgb(35, 24, 22) !important;
    border-radius: 0px !important;
    padding-left: 3% !important;
    box-shadow: none;
}

.content {
    padding: 2% 5% 2% 5%;
    box-shadow: none;
}

.replyContainer.content {
    padding: 1% 5% 1% 5%;
}

.whiteBottom {
    background-color: white;
    border-top: solid 5px rgb(35, 24, 22);
    border-radius: 0px;
    /* padding-left: 5%;  */
    margin-top: 5%;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
}

.loginButton {
    float: right;
    margin: 3% 5% 5% 5% !important;
    background-color: rgb(243, 168, 194)!important;
    padding: 5px;
    width: 35%; 
    /* display: inline-block; */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: 3px solid rgb(35, 24, 22)!important;
    border-radius: 15px!important;
    box-shadow: 0 8px rgb(35, 24, 22);
}

.loginButton:active {
    box-shadow: 0 4px rgb(35, 24, 22);
    transform: translateY(4px);
}

.commentButton {
    background-color: white;
    border: none;
    padding: 1% 0 1% 0;
    width: 50%;
    border-right: none;
}

.commentButton:not(:last-child) {
    width: 50%;
    border-right: solid 5px rgb(35, 24, 22);
}

#posts {
    padding: 5%;
}

#logo {
    height: 50px;
    width: auto;
}

#closeButton {
    float: left;
    margin-left: 5% !important;
    margin-bottom: 4% !important;
    background-color: white;
    color:rgb(35, 24, 22);
    padding: 5px;
    width: 20%; 
    /* display: inline-block; */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: 3px solid rgb(35, 24, 22);
    border-radius: 15px;
    box-shadow: 0 8px rgb(35, 24, 22);
}

#closeButton:active {
    box-shadow: 0 4px rgb(35, 24, 22);
    transform: translateY(4px);
}

#makePostIcon {
    position: fixed;
    bottom: 3%;
    right: 2%;
    -webkit-filter: drop-shadow(0 3px 15px rgb(35, 24, 22));
    filter: drop-shadow(0px 3px 10px rgb(35, 24, 22));
}

#makePostIcon:hover {
    -webkit-filter: drop-shadow(0 3px 15px rgb(243, 168, 194));
    filter: drop-shadow(0px 3px 10px rgb(243, 168, 194));
    transition: 0.3s;
    cursor: pointer;
}

#pagination {
    /* background-color: rgb(89, 86, 86); */
    width: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
    align-content: center;
    position: sticky;
}

#darken {
    background-color: rgb(89, 86, 86, 0.8);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    z-index: 5;
}

#delete, #deleteReply {
    background: none !important;
    border: none;
}